body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: bisque;
}

h1 {
    color:blue
}
ul {
    list-style-type: square;
}

.title {
    width: flex;
    text-align: center;
}

.title-child1 {
    width: 20%;
    float: left;
}

.title-child2 {
    width: 80%;
    float: right;

}